<h1>商品詳細</h1>

<table>
    <thead>
        <tr>
            <th>商品画像</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>商品説明</th>
            <th>ジャンル</th>
            <th>ステータス</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <th><%= attachment_image_tag @product, :image, :fill, 50, 50, fallback: "no_image.jpg" %></th>
            <th><%= @product.name %></th>
            <th><%= @product.price %></th>
            <th><%= @product.description %></th>
            <th><%= @product.genre.name %></th>
            <th><%= @product.sell_status %></th>
            <th><% if enduser_signed_in? %>
                    <% if @cart.id.blank? %>
                        <%= form_for [@product, @cart] do |f| %>
                            <%= f.select :count, [*1..100] %>
                            <%#= f.hidden_field :product_id %>
                            <%= f.submit "カートに入れる" %>
                        <% end %>
                    <% else %>
                        <%= form_for [@product, @cart], url: cart_change_path(@cart), action: "patch" do |f| %>
                            <%= f.select :count, [*1..100] %>
                            <%#= f.hidden_field :product_id %>
                            <%= f.submit "カートに入れる" %>
                        <% end %>
                    <% end %>
                <% else %>
                    <%= link_to "カートに入れる", new_enduser_session_path %>
                <% end %>
            </th>
        </tr>
    </tbody>
</table>