<h1>商品一覧画面</h1>

<%= link_to "ジャンル登録", admin_genres_path %>

<table>
    <thead>
        <tr>
            <th>商品画像</th>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>商品説明</th>
            <th>ジャンル</th>
            <th>ステータス</th>
        </tr>
    </thead>

    <tbody>
    <% @products.each do |product| %>
        <tr>
            <th><%= attachment_image_tag product, :image, :fill, 50, 50, fallback: "no_image.jpg" %></th>
            <th><%= product.id %></th>
            <th><%= product.name %></th>
            <th><%= product.price %></th>
            <th><%= product.description %></th>
            <th><%= product.genre.name %></th>
            <th><%= product.sell_status %></th>
        </tr>
    <% end %>
    </tbody>
</table>